<app-admin></app-admin>

<div class="mx-auto bg-grey-400 min-h-screen h-[1000px]  "
  style="background-color: rgb(41, 44, 49); margin-top: -231px;">
  <div class="mx-auto bg-gray-800 min-h-screen h-screen">
    <div class="flex justify-center">
      <main class="bg-white ml-12 md:ml-16 lg:ml-24 xl:ml-72 mt-2   min-h-screen h-screen shadow-lg rounded-lg"
        style="width: 83%; ">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-8 mt-6">
          <div class="relative">
            <b
              class="absolute top-0 left-0 text-gray-800 font-medium w-full text-center border-b-2 border-green-500 pb-6">Question</b>
            <i
              class="fa-solid fa-question absolute top-[20.1px] left-[50%] transform -translate-x-1/2 w-4 h-[13.1px] object-cover"></i>
          </div>
          <div class="relative">
            <b
              class="absolute top-0 left-0 text-gray-600 font-medium w-full text-center border-b-2 border-gray-300 pb-6">Solution</b>
            <img class="absolute top-[20.1px] left-[50%] transform -translate-x-1/2 w-4 h-[13.1px] object-cover" alt=""
              src="./assets/blow-bulb.png" />
          </div>
          <div class="relative">
            <b
              class="absolute top-0 left-0 text-gray-600 font-medium w-full text-center border-b-2 border-gray-300 pb-6">Example</b>
            <i
              class="fa-solid fa-pen-to-square absolute top-[20.1px] left-[50%] transform -translate-x-1/2 w-4 h-[13.1px] object-cover"></i>
          </div>
          <div class="relative">
            <b
              class="absolute top-0 left-0 text-gray-600 font-medium w-full text-center border-b-2 border-gray-300 pb-6">Test
              Case</b>
            <i
              class="fa-solid fa-list absolute top-[24.1px] left-[50%] transform -translate-x-1/2 w-4 h-[13.1px] object-cover"></i>
          </div>
        </div>
        <form [formGroup]="problemForm" (ngSubmit)="onSubmit()">
          <div class="p-8 mt-14">
            <h1 class="text-2xl md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl font-bold text-gray-800 mb-8">
              New Problem
            </h1>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
              <div>
                <label for="title" class="text-gray-600 font-medium mb-2 block">Title*</label>
                <input id="title" formControlName="title" type="text" name="title"
                  class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500"
                  placeholder="Enter Title">
                <p *ngIf="problemForm.controls['title'].invalid && problemForm.controls['title'].touched"
                  class="text-red-500">Title is required</p>
              </div>
              <div>
                <label for="category" class="text-gray-600 font-medium mb-2 block">Category*</label>
                <select id="category" formControlName="category"
                  class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500">
                  <option value="" disabled selected>Select the category</option>
                  <option value="Array">Array</option>
                  <option value="String">String</option>
                </select>
                <p *ngIf="problemForm.controls['category'].invalid && problemForm.controls['category'].touched"
                  class="text-red-500">Select the Category</p>
              </div>
              <div>
                <label for="difficulty" class="text-gray-600 font-medium mb-2 block">Difficulty*</label>
                <select id="difficulty" formControlName="difficulty"
                  class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500">
                  <option value="" disabled selected>Select the difficulty</option>
                  <option value="Easy">Easy</option>
                  <option value="Medium">Medium</option>
                  <option value="Hard">Hard</option>
                </select>
                <p *ngIf="problemForm.controls['difficulty'].invalid && problemForm.controls['difficulty'].touched"
                  class="text-red-500">Select the Difficulty</p>
              </div>
            </div>
            <div class="mt-6">
              <label for="description" class="text-gray-600 font-medium mb-2 block">Description*</label>
              <textarea id="description" formControlName="description"
                class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500"
                rows="10" placeholder="Enter Description">
                                </textarea>
              <p *ngIf="problemForm.controls['description'].invalid && problemForm.controls['description'].touched"
                class="text-red-500">Description is required</p>
            </div>
            <div class="flex justify-end mt-6">
              <button type="submit"
                class="py-2 px-4 text-xl bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none focus:bg-blue-600">
                Continue
              </button>
            </div>
          </div>
        </form>

      </main>
    </div>
  </div>
</div>