<div class="dialog-container" *ngIf="showDialog">
  <h2 class="dialog-title">Change Password</h2>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSaveChanges()">
    <!-- Error message -->
    <p class="text-red-700">{{ errorMsg }}</p>
    
    <!-- Current Password -->
    <div class="form-group">
      <label for="current-password" class="form-label">Current Password</label>
      <input id="current-password" type="password" class="form-control" formControlName="currentPassword">
      <!-- Error message -->
      <p *ngIf="changePasswordForm.controls['currentPassword'].invalid && changePasswordForm.controls['currentPassword'].touched"
         class="text-red-500">Current Password is required</p>
    </div>

    <!-- New Password -->
    <div class="form-group">
      <label for="new-password" class="form-label">New Password</label>
      <input id="new-password" type="password" class="form-control" formControlName="newPassword">
      <!-- Error message -->
      <p *ngIf="changePasswordForm.controls['newPassword'].invalid && changePasswordForm.controls['newPassword'].touched"
         class="text-red-500">Password must be at least 8 characters long</p>
    </div>

    <!-- Confirm Password -->
    <div class="form-group">
      <label for="confirm-password" class="form-label">Confirm Password</label>
      <input id="confirm-password" type="password" class="form-control" formControlName="confirmPassword">
      <!-- Error message -->
      <p *ngIf="changePasswordForm.controls['confirmPassword'].invalid && changePasswordForm.controls['confirmPassword'].touched"
         class="text-red-500">Password must be at least 8 characters long</p>
    </div>

    <!-- Button Group -->
    <div class="button-group">
      <button type="button" class="cancel-button" (click)="onCancel()">Cancel</button>
      <button type="submit" class="save-button">Save Changes</button>

    </div>
  </form>
</div>
