<app-header></app-header>
<div
  class="w-full relative bg-color overflow-hidden flex flex-col items-start justify-start gap-[440px] tracking-[normal] text-center text-[96px] text-forestgreen-200 font-khula mq450:gap-[110px_440px] mq750:gap-[220px_440px]">
  <h1
    class="!m-[0] w-[533px] absolute top-[444px] right-[611px]  text-inherit font-normal font-lucida-bright inline-block [filter:drop-shadow(0px_4px_4px_rgba(0,_0,_0,_0.25)_inset)] z-[2] mq450:text-10xl mq1050:text-[48px]"
    style="font-family: 'Abril Fatface', sans-serif;">

  </h1>

  <header
    class="self-stretch bg-darkslateblue-300 flex flex-row items-start justify-start pt-4 px-[259px] pb-[17px] box-border top-[0] z-[99] sticky max-w-full text-left text-base text-gainsboro-100 font-inter lg:pl-[129px] lg:pr-[129px] lg:box-border mq450:pl-5 mq450:pr-5 mq450:box-border mq750:pl-16 mq750:pr-16 mq750:box-border">

  </header>
  <div class="w-full h-[2409px] absolute !m-[0] right-[0px] bottom-[0px] left-[0px] text-5xl text-white">
    <!-- <div
      class="absolute top-[214.05px] left-[-173.85px] bg-darkslateblue-400 w-[2582.9px] h-[2271px] [transform:_rotate(21.1deg)] [transform-origin:0_0]">
    </div> -->
    <div class="items-center justify-center flex">
      <div
        class="absolute top-[-76px] rounded-[83px] flex flex-col items-center justify-center bg-color w-[1006px] h-[371px] z-[2]">
        <img class="w-[194px] h-[250px] z-[3] " loading="lazy" alt="Algo Nexus Logo" src="./assets/Algo-exus-logo.png" />
        <div class="flex flex-row items-center justify-center mt-5">
          <span class="text-white text-6xl">Algo</span>
          <span class="text-forestgreen-300"> </span>
          <span class="text-steelblues text-6xl">Nexus</span>
        </div>
      </div>
    </div>
    <div
      class="absolute top-[1321px] left-[-1093px] w-[2899.1px] h-[1595.7px] flex flex-row justify-center items-center">
      <h1
        class="!m-[0] w-[175px] absolute top-[395px] right-[807.1px] text-[36px] tracking-[0.03em] leading-[57px] font-semibold font-inherit inline-block z-[7] mq450:text-[22px] mq450:leading-[34px] mq1050:text-10xl mq1050:leading-[45px]">
        Developer
      </h1>
      <div class="w-1/4">
        <div>
          <h1
            class="!m-[0] w-[690px] absolute top-[-101px] right-[957.1px] text-4xl text-green-600 tracking-[0.03em] leading-[157.47%] font-semibold font-inherit text-left text-forestgreen-100 inline-block z-[7] mq450:text-6xl mq450:leading-[40px] mq1050:text-15xl mq1050:leading-[53px]"
            data-scroll-to="questionsCommunity">
            Questions, Community & Contests
          </h1>
        </div>

        <div class=" w-1/4">
          <h3
            class="!m-0 max-w-[816px] absolute top-[-65px] right-[831.1px] text-2xl text-gray-100 text-left font-normal leading-[157.47%] z-[8] md:text-lgi md:leading-[30px]">
            <p>Over 3250 questions for you to practice. Come and join one
              of the largest tech communities with hundreds of thousands
              of active users and participate in our contests to challenge
              yourself and earn rewards.</p>
          </h3>
        </div>
        <div>
          <button routerLink="/user-problems" class="!m-[0] absolute top-[3px] left-[1252px] text-xl tracking-[0.03em] text-blue-600 font-normal font-inherit text-forestgreen-100 inline-block z-[7] mq450:text-lgi mq450:leading-[30px] mq1050:text-7xl mq1050:leading-[40px] transition ease-in-out duration-300 transform hover:translate-y-1 hover:text-blue-700">
            View questions
            <i class="fas fa-chevron-right"></i>
          </button>
          
        </div>
      </div>
      <h3 class="!m-[0] w-full max-w-[909px] absolute top-[449px] right-[457.1px] text-base sm:text-xl md:text-2xl tracking-[0.03em] leading-[157.47%] font-inter font-inherit inline-block z-[7] mq450:text-lgi mq450:leading-[30px]">
        We now support 14 popular coding languages. At our core, Algo Nexus
        is about developers. Our powerful development tools such as
        Playground help you test, debug and even write your own projects
        online.
      </h3>
      
    </div>
    <div
      class="absolute top-[1370px] left-[0px] w-full h-full z-[6] bg-last justify-center items-center transform rotate-[170deg] ">
    </div>

    <div class="absolute top-[1578px] left-[836px] w-[148.1px] h-[122.8px]  text-13xl items-center justify-center">
      <img class="absolute top-[0px] w-[148.1px] h-[122.8px] rounded-full object-contain z-[7]" loading="lazy" alt=""
        src="./assets/Designer.png" />
      <div
        class="absolute top-[0px] left-[0px] w-[148.1px] h-[122.8px] rounded-full object-contain z-[7]  items-center justify-center">
      </div>
      <div class="absolute h-[calc(100%_-_24.8px)] top-[12px] bottom-[12.8px] left-[25px] w-[98px]">
        <div class="absolute top-[0px] left-[0px] bg-gainsboro-200 w-full h-full z-[8]"></div>
      </div>
    </div>
  </div>
  <div class="self-stretch flex flex-col items-start justify-start relative max-w-full text-13xl text-midnightblue">
    <div class="w-full m-0 absolute top-[90px] right-0 left-0 flex flex-col items-center text-slate-100 justify-start pt-6 px-10 pb-10 box-border gap-3 max-w-full
         sm:px-5 sm:pt-5 sm:pb-5
         md:px-14 md:pt-10 md:pb-10
         lg:px-36 lg:pt-12 lg:pb-12
         xl:px-72 xl:pt-14 xl:pb-14
         2xl:px-96 2xl:pt-16 2xl:pb-16">
      <div class="absolute bg-silver z-[2] w-full h-full"></div>
      <h1 class="m-0 relative tracking-[0.03em] max-w-full z-[3] text-xl leading-6
             sm:text-lg sm:leading-5
             md:text-2xl md:leading-6
             lg:text-3xl lg:leading-8
             xl:text-4xl xl:leading-9
             2xl:text-5xl 2xl:leading-10">
        <p class="m-0 italic">Welcome to AlgoNexus, your ultimate coding companion.</p>
        <p class="m-0">We're dedicated to enhancing your coding skills.</p>
        <p class="m-0">Explore our extensive video tutorials and practice sessions.</p>
        <p class="m-0">Enjoy your coding journey with us!</p>
      </h1>

    </div>
    <div class="self-stretch h-[2084px] relative text-23xl text-dodgerblue">
      <div>
        <h1 
          class="m-0 absolute top-[485px] left-[159px] text-5xl  tracking-[0.03em] leading-[157.47%] font-semibold font-inherit z-[2] mq450:text-3xl mq450:leading-[40px] mq1050:text-15xl mq1050:leading-[53px]"
          data-scroll-to="startExploringText">
          Start Exploring
        </h1>
        <h3
          class="m-0 absolute top-[525px] left-[159px] text-2xl tracking-[0.03em] leading-[157.47%] text-gray-100 text-left inline-block w-[705px] h-[151px] z-[3] 
           sm:text-lg sm:leading-[30px] md:text-xl md:leading-[35px] lg:text-2xl lg:leading-[40px] xl:text-3xl xl:leading-[45px]">
          <p class="m-0 ">
            Explore is a well-organized tool that helps you get the most out of AlgoNexus by providing structure to
            guide your progress towards the next step in your programming career.
          </p>
          <button routerLink="/explore" class="cursor-pointer bg-blue-700 border-none py-2 px-4 bg-deepskyblue absolute top-16 left-0 text-white text-lg rounded-lg flex items-center justify-center gap-2 z-10 transition duration-300 ease-in-out transform hover:bg-blue-800 hover:scale-105">
            <span class="font-semibold">Get Started</span>
            <i class="fas fa-chevron-right"></i>
          </button>
          
        </h3>
      </div>
      <main class="absolute top-[0px] left-[-954px] w-[3073.4px] h-[2818.2px]">
        <section
          class="absolute top-[0.04px] left-[739.09px] bg-gray-400 w-full h-full [transform:_rotate(21.1deg)] [transform-origin:0_0] z-[1]">
        </section>
        <div class="relative top-[742px] left-[1925px] w-[289px] h-[280px] z-[4] rounded-lg flex items-center justify-center ">
          <img
            class="w-full h-full z-[4]  absolute left-[16px] top-[2px] [transform:scale(1.112)]  rounded-lg"
            alt="" src="./assets/close-up-of-computer-programmer-coding.webp" />
        </div>

        <div class="absolute top-[660px] left-[2021px] w-[386px] h-[362px] z-[2] flex items-center justify-center">
          <img class="w-full h-full z-[2]  absolute left-[16px] top-[2px] [transform:scale(1.084)] rounded-lg"
            loading="lazy" alt="" src="./assets/close-up-of-computer-programmer-coding.webp" />
        </div>

        <div class="absolute top-[701px] left-[1965px] w-[369px] h-[321px] z-[3] flex items-center justify-center">
          <img class="w-full h-full z-[3]  absolute left-[16px] top-[2px] [transform:scale(1.088)] rounded-lg" alt=""
            src="./assets/close-up-of-computer-programmer-coding.webp" />
        </div>

      </main>
    </div>
  </div>
</div>