<nav class=" border-gray-200 bg-color" *ngIf="!role">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <img routerLink="/home"
        class="absolute h-[3.01%] w-[1.26%] top-[1.50%] right-[2.78%] bottom-[98.26%] left-[13.17%] cursor-pointer"
        src="./assets/Algo-exus-logo.png" alt="">

      <ul
        class="font-inter flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 ">

        <li>
          <a href="#"
            class="block py-2 px-3 text-gray-900 rounded md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500  dark:hover:text-white md:dark:hover:bg-transparent">Explore</a>
        </li>
        <li>
          <a href="#"
            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Problems</a>
        </li>
        <li>
          <a href="#"
            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Contest</a>
        </li>
        <li>
          <a href="#"
            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Store</a>
        </li>
      </ul>
      <img
        class="absolute h-[2.01%] w-[1.26%] top-[1.74%] right-[27.78%] bottom-[98.26%] left-[63.87%] max-w-full overflow-hidden max-h-full object-contain opacity-[0.8] yellow-icon"
        alt="" src="./assets/bell1.png" />

    </div>
    <img
      class="absolute h-[2.01%] w-[1.26%] top-[1.94%] right-[22.48%] bottom-[98.26%] left-[63.87%] max-w-full overflow-hidden max-h-full object-contain opacity-[0.8] yellow-icon"
      alt="" src="./assets/bell1.png" />


    <img
      class="absolute h-[2.01%] w-[1.26%] top-[1.74%] right-[27.78%] bottom-[98.26%] left-[66.67%] max-w-full overflow-hidden max-h-full object-contain opacity-[0.8]"
      alt="" src="./assets/fire.png" />

    <p
      class="absolute h-[2.01%] w-[1.26%] top-[1.74%] right-[27.78%] bottom-[98.26%] left-[67.87%] text-white max-w-full overflow-hidden max-h-full object-contain opacity-[0.8]">
      0</p>

    <img routerLink="/userProfile"
      class="absolute h-[3.17%] w-[1.69%] top-[1.81%] right-[25.2%] bottom-[98.32%] left-[70.81%] max-w-full overflow-hidden max-h-full cursor-pointer"
      alt="" src="./assets/profile.png" />

    <!-- <img
      class="absolute h-[3.17%] w-[1.39%] top-[1.71%] right-[21.3%] bottom-[98.31%] left-[77.71%] max-w-full overflow-hidden max-h-full"
      alt="" src="./assets/crown.png" /> -->

      <button class="logout-button"  *ngIf="!loggedIn()" (click)="login()" >Log in</button>
      <button class="logout-buttons"  *ngIf="loggedIn()" (click)="logOut()">Log Out</button>
      
    <!-- <ng-template #loginButton>
      <button class="login-button" (click)="login()">Log In</button>
    </ng-template> -->

  </div>
</nav>