<app-admin-header></app-admin-header>

<div class="bg-gray-900 h-[230px] max-w-[283px]">
  <aside id="sidebar" class="bg-gray-800 w-80 md:w-1/6 lg:w-[283px] border-r border-gray-700 hidden md:block lg:block">
    <ul class="list-reset flex flex-col">
      <li class="w-full py-3 px-2 border-b border-gray-700 cursor-pointer"
          [ngClass]="{'bg-gray-700 text-white': isActive === 'dashboard', 'text-gray-400': isActive !== 'dashboard'}"
          (click)="toggleButton('dashboard')">
        <a class="font-sans font-semibold text-sm flex items-center no-underline">
          <i class="fas fa-tachometer-alt mx-2"></i>
          <span>Dashboard</span>
          <i class="fas fa-angle-right ml-auto"></i>
        </a>
      </li>
      <li class="w-full py-3 px-2 border-b border-gray-700 cursor-pointer"
          [ngClass]="{'bg-gray-700 text-white': isActive === 'course', 'text-gray-400': isActive !== 'course'}"
          (click)="toggleButton('course')">
        <a class="font-sans font-semibold text-sm flex items-center no-underline">
          <i class="fab fa-wpforms mx-2"></i>
          <span>Courses</span>
          <i class="fa fa-angle-right ml-auto"></i>
        </a>
      </li>
      <li class="w-full py-3 px-2 border-b border-gray-700 cursor-pointer"
          [ngClass]="{'bg-gray-700 text-white': isActive === 'users', 'text-gray-400': isActive !== 'users'}"
          (click)="toggleButton('users')">
        <a class="font-sans font-semibold text-sm flex items-center no-underline">
          <i class="fas fa-grip-horizontal mx-2"></i>
          <span>Users</span>
          <i class="fa fa-angle-right ml-auto"></i>
        </a>
      </li>
      <li class="w-full py-3 px-2 border-b border-gray-700 cursor-pointer"
          [ngClass]="{'bg-gray-700 text-white': isActive === 'problems', 'text-gray-400': isActive !== 'problems'}"
          (click)="toggleButton('problems')">
        <a class="font-sans font-semibold text-sm flex items-center no-underline">
          <i class="fas fa-table mx-2"></i>
          <span>Problems</span>
          <i class="fa fa-angle-right ml-auto"></i>
        </a>
      </li>
      <li class="w-full py-3 px-2 border-b border-gray-700 cursor-pointer"
          [ngClass]="{'bg-gray-700 text-white': isActive === 'daily-problems', 'text-gray-400': isActive !== 'daily-problems'}"
          (click)="toggleButton('daily-problems')">
        <a class="font-sans font-semibold text-sm flex items-center no-underline">
          <i class="fab fa-uikit mx-2"></i>
          <span>Daily Problems</span>
          <i class="fa fa-angle-right ml-auto"></i>
        </a>
      </li>
    </ul>
  </aside>
</div>
