<app-admin></app-admin>
<div class=" bg-grey-400 flex min-w-[200px] max-w-[1813px] ml-[282px]" style="background-color: rgb(41, 44, 49);margin-top: -260px;">

<div class="flex flex-col flex-1" style="height: 132px;">
    <!-- Stats Row Starts Here -->
    <div class="flex flex-1 flex-col md:flex-row lg:flex-row mx-2">
        <div
            class="shadow-lg bg-red-vibrant bg-white rounded-md border-l-8 hover:bg-red-vibrant-dark border-red-vibrant-dark mb-2 p-2 md:w-1/4 mx-2 flex justify-between items-start">
            <div class="p-4 flex flex-col">
                <a href="#" class="no-underline text-black text-2xl font-semibold">
                3212
                </a>
                <a href="#" class="no-underline text-black text-lg font-bold " style="padding-top: 10px;">
                    Total User
                </a>
            </div>
            <i class="fa-solid fa-users" style="font-size: x-large; padding: 10px;"></i>
        </div>

        <div
            class="shadow-lg bg-red-vibrant bg-white rounded-md border-l-8 hover:bg-red-vibrant-dark border-red-vibrant-dark mb-2 p-2 md:w-1/4 mx-2 flex justify-between items-start">
            <div class="p-4 flex flex-col">
                <a href="#" class="no-underline text-black text-2xl font-semibold">
                    70,689
                </a>
                <a href="#" class="no-underline text-black text-lg font-bold " style="padding-top: 10px;">
                    Question
                </a>
            </div>
            <i class="fa-solid fa-layer-group" style="font-size: x-large; padding: 10px;"></i>
        </div>
        <div
            class="shadow-lg bg-red-vibrant bg-white rounded-md border-l-8 hover:bg-red-vibrant-dark border-red-vibrant-dark mb-2 p-2 md:w-1/4 mx-2 flex justify-between items-start">
            <div class="p-4 flex flex-col">
                <a href="#" class="no-underline text-black text-2xl font-semibold">
                    70,689
                </a>
                <a href="#" class="no-underline text-black text-lg font-bold " style="padding-top: 10px;">
                    Courses
                </a>
            </div>
            <i class="fa-brands fa-discourse" style="font-size: x-large; padding: 10px;"></i>
        </div>

        <div
            class="shadow-lg bg-red-vibrant bg-white rounded-md border-l-8 hover:bg-red-vibrant-dark border-red-vibrant-dark mb-2 p-2 md:w-1/4 mx-2 flex justify-between items-start">
            <div class="p-4 flex flex-col">
                <a href="#" class="no-underline text-black text-2xl font-semibold">
                    70,689
                </a>
                <a href="#" class="no-underline text-black text-lg font-bold " style="padding-top: 10px;">
                    Submissions
                </a>
            </div>
            <i class="fa-solid fa-closed-captioning" style="font-size: x-large; padding: 10px;"></i>
        </div>

        <div
            class="shadow-lg bg-red-vibrant bg-white rounded-md border-l-8 hover:bg-red-vibrant-dark border-red-vibrant-dark mb-2 p-2 md:w-1/4 mx-2 flex justify-between items-start">
            <div class="p-4 flex flex-col"> <!-- Adjusted width -->
                <a href="#" class="no-underline text-black text-2xl font-semibold">
                    70,689
                </a>
                <a href="#" class="no-underline text-black text-lg font-bold"
                    style="padding-top: 10px; width: 138px;">
                    Premium Users
                </a>
            </div>
            <i class="fa-solid fa-users-viewfinder" style="font-size: x-large; padding: 10px;"></i>
        </div>

        <div
            class="shadow-lg bg-red-vibrant bg-white rounded-md border-l-8 hover:bg-red-vibrant-dark border-red-vibrant-dark mb-2 p-2 md:w-1/4 mx-2 flex justify-between items-start">
            <div class="p-4 flex flex-col">
                <a href="#" class="no-underline text-black text-2xl font-semibold">
                    70,689
                </a>
                <a href="#" class="no-underline text-black text-lg font-bold " style="padding-top: 10px;">
                    Acceptence
                </a>
            </div>
            <i class="fa-solid fa-circle-check" style="font-size: x-large; padding: 10px;"></i>
        </div>
    </div>
    
</div>

</div>
<div class="flex justify-center items-center">
    <p-chart type="line" [data]="data" [options]="options"></p-chart>
</div>

