
.custom-button:hover {
    background-color: #45a049; 
}

.text-green {
    color: green !important;
}

.text-yellow {
    color: yellow !important;
}

.text-red {
    color: red !important;
}
.underline {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0;
    padding: 0;
}