<section class="bg-gray-50 dark:bg-gray-900" *ngIf="!submitted">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">

        </a>
        <div
            class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1
                    class="text-xl font-bold leading-tight tracking-tight text-center text-gray-900 md:text-2xl dark:text-white">
                    Enter new Password
                </h1>

                <form class="space-y-4 md:space-y-6" [formGroup]="passwordForm" (ngSubmit)="onSubmit()" action="#">
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter
                            new password</label>
                        <input type="text" name="password" formControlName="password" id="password"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Enter your username" required="">
                        <p *ngIf="passwordForm.controls['password'].invalid && passwordForm.controls['password'].touched"
                            class="text-red-500">Password must be at least 8 characters long</p>
                    </div>
                    <div>
                        <label for="confirmpassword"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm
                            password</label>
                        <input type="confirmpassword" name="confirmpassword" formControlName="confirmpassword"
                            id="confirmpassword" placeholder="Enter your password"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            required="">
                        <p *ngIf="passwordForm.controls['confirmpassword'].invalid && passwordForm.controls['confirmpassword'].touched"
                            class="text-red-500">Password must be at least 8 characters long</p>
                    </div>
                    <div class="flex items-center justify-between">

                    </div>

                    <button type="submit"
                        class="w-full  text-white bg-blue-700 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>

<div class="popup-message-container dark:bg-gray-900 "*ngIf="showPopup" >
    <div >
        <div>
            <div class="activation-success">
                <!-- Display this content if isActivated is false, isOkay is true, and isRegisterActive is true -->
                <div class="popup-message font-bold text-green-600">
                    Your password has been changed successfully.
                  </div>
                  <!-- <img src="./assets/back-ground-image.webp" alt="Background Image"> -->

                <!-- <p class="success-message">Your account ({{ email }}) has been successfully activated.</p> -->
                <button class="btn-primary" (click)="redirectToLogin()">Go to login</button>
            </div>
        </div>
    </div>
</div>

<!-- <div class="popup-message-container" *ngIf="showPopup">
    <div class="popup-message">
      Your password has been changed successfully.
    </div>
  </div> -->
  