<app-user-details></app-user-details>
    <div class="absolute top-[390px] left-[677px] lg:shadow-[0px_10px_15px_3px_rgba(0,_0,_0,_0.25)] lg:rounded-lg bg-white w-full lg:w-[854px] h-[656px] p-6">
        <h1 class="font-semibold text-2xl mb-6">Account Information</h1>
        <div class="section flex items-center mb-6">
            <div class="label mr-6 text-lg w-36">AlgoNexus ID</div>
            <div class="content flex items-center ml-28">
                <div class="value-container flex items-center">
                    <!-- <span class="value text-lg">Sadiq1</span> -->
                </div>
            </div>
        </div>

        <hr class="underline" />

        <div class="section flex items-center mb-6">
            <div class="label mr-6 text-lg w-36">Email</div>
            <div class="content flex items-center ml-28">
                <div class="value-container">
                    <span  class="value text-lg">{{userAccount?.email}}</span>
                </div>                
            </div>           
        </div>

        <hr class="underline " />
        <div class="section flex items-center mb-6">
            <div class="label mr-6 text-lg w-36">Password</div>
            <div class="content flex items-center ml-28">
                <div class="value-container flex items-center ">
                   <!-- main.component.html -->
               <button class="text-blue-700" mat-button (click)="openChangePasswordDialog()">Change Password</button>

                </div>
            </div>
        </div>
        <hr class="underline" />
    </div>

<!-- <app-footer></app-footer> -->