.custom-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #45a049; 
}

.text-green {
    color: green !important;
}

.text-yellow {
    color: yellow !important;
}

.text-red {
    color: red !important;
}
.custom-bg-color {
    background-color: white !important;
    
}
