<app-admin></app-admin>

<div class="mx-auto bg-grey-400 min-h-screen " style="background-color: rgb(41, 44, 49); margin-top: -260px;">
    <div class="flex flex-1 ">
        <main class="bg-white-300 ml-72 flex-1 p-3 overflow-hidden" style="padding-left: 3px;">

            <div
                class="flex-1 flex flex-col items-start justify-end pt-64 px-[69.2px] pb-0 box-border gap-[20px] max-w-full bg-white  text-black lg:pl-[34px] lg:pt-[166px] lg:pr-[34px] lg:box-border mq750:pt-[108px] mq750:box-border">
                <strong class="font-bold text-3xl mt-[-147px] mb-14">Problem</strong>
                <div class="flex items-center w-full">
                    <mat-form-field class="mr-4">
                        <mat-label>Difficulty</mat-label>
                        <mat-select>
                            <mat-option value="easy">Easy</mat-option>
                            <mat-option value="medium">Medium</mat-option>
                            <mat-option value="hard">Hard</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="mr-4">
                        <mat-label>Tag</mat-label>
                        <mat-select>
                            <mat-option value="tag1">Tag 1</mat-option>
                            <mat-option value="tag2">Tag 2</mat-option>
                            <mat-option value="tag3">Tag 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="mr-4">
                        <input matInput type="text" placeholder="Search">
                    </mat-form-field>
                    <div class="flex justify-end flex-1 mr-10">
                        <button mat-button class="custom-button" (click)="goToAddQuestion()">Add Question</button>
                    </div>
                </div>


                <div class="w-[1261.2px] h-[1258px] relative hidden max-w-full ">
                    <div class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] hidden">
                    </div>
                </div>
                <div
                    class="self-stretch bg-white shadow-[5px_5px_17px_rgba(0,_0,_0,_0.25)] rounded-lg bg-lavender-100 flex flex-col items-center justify-center  px-0 pb-0 box-border relative max-w-full z-[1]">
                    <div class="self-stretch h-[917px] relative rounded-lg bg-lavender-100 hidden z-[0]"></div>
                    <div class="w-[1442px] rounder-full bg-gray-600 flex flex-row items-center justify-center pt-0 px-11 pb-2 box-border max-w-full mq1050:pl-[22px] mq1050:pr-[22px] mq1050:box-border">
                        <div class="flex-1 flex flex-row items-center justify-between max-w-full gap-[20px] text-center"> <!-- Added text-center class -->
                            <div class="relative items-center text-white font-medium z-[1]">
                                <p class="m-0 pt-5px">Titile</p>
                            </div>
                            <div class="relative text-white font-medium inline-block min-w-[52px] z-[1]">
                                Difficulty
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="self-stretch flex flex-col items-start justify-start max-w-full">
                        <div
                            class="self-stretch flex flex-row items-start justify-between pt-3 pb-3.5 pr-[93px] pl-11 relative gap-[20px] z-[1] lg:pl-[22px] lg:pr-[46px] lg:box-border mq450:flex-wrap mq750:pr-[23px] mq750:box-border">
                            <div class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px]">
                            </div>
                            <div class="flex flex-col items-start justify-start pt-[3px] px-0 pb-0">
                                <div class="relative font-medium inline-block min-w-[120px] z-[1]">
                                    <ol class="m-0 font-inherit text-inherit pl-4">
                                        <li>Add two numbers</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="relative font-medium text-orange inline-block min-w-[47px] z-[1]">
                                Medium
                            </div>
                        </div>
                        <div
                            class="self-stretch bg-lavender-200 flex flex-row items-start justify-between pt-3 pb-3.5 pr-28 pl-11 box-border max-w-full gap-[20px] z-[3] lg:pl-[22px] lg:pr-14 lg:box-border mq750:pr-7 mq750:box-border">
                            <div class="h-11 w-[1110px] relative bg-lavender-200 hidden max-w-full"></div>
                            <div class="flex flex-col items-start justify-start pt-[3px] px-0 pb-0">
                                <div class="relative font-medium z-[1]">
                                    <ol class="m-0 font-inherit text-inherit pl-4">
                                        <li>Longest substring without repeating character</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="relative font-medium text-firebrick inline-block min-w-[28px] z-[1]">
                                Hard
                            </div>
                        </div>
                        <div
                            class="self-stretch flex flex-row items-start justify-start py-0 pr-[3px] pl-px box-border max-w-full">
                            <div
                                class="flex-1 flex flex-row items-start justify-between pt-3 pb-3.5 pr-[93px] pl-11 box-border relative max-w-full gap-[20px] z-[2] lg:pl-[22px] lg:pr-[46px] lg:box-border mq750:flex-wrap mq750:pr-[23px] mq750:box-border">
                                <div
                                    class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px]">
                                </div>
                                <div class="flex flex-col items-start justify-start pt-[3px] px-0 pb-0">
                                    <div class="relative font-medium z-[1]">
                                        <ol class="m-0 font-inherit text-inherit pl-4">
                                            <li>Median of two Sorted Arrays</li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="relative font-medium text-orange inline-block min-w-[47px] z-[1]">
                                    Medium
                                </div>
                            </div>
                        </div>
                        <div
                            class="self-stretch flex flex-row items-start justify-start py-0 pr-[3px] pl-px box-border max-w-full">
                            <div
                                class="flex-1 bg-lavender-200 flex flex-row items-start justify-between pt-3 pb-3.5 pr-28 pl-11 box-border max-w-full gap-[20px] z-[1] lg:pl-[22px] lg:pr-14 lg:box-border mq750:pr-7 mq750:box-border">
                                <div class="h-11 w-[1110px] relative bg-lavender-200 hidden max-w-full"></div>
                                <div class="flex flex-col items-start justify-start pt-[3px] px-0 pb-0">
                                    <div class="relative font-medium inline-block min-w-[78px] z-[1]">
                                        <ol class="m-0 font-inherit text-inherit pl-4">
                                            <li>Two Some</li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="relative font-medium text-green-100 inline-block min-w-[28px] z-[1]">
                                    Easy
                                </div>
                            </div>
                        </div>
                        <div
                            class="self-stretch flex flex-row items-start justify-start py-0 pr-[3px] pl-px box-border max-w-full">
                            <div
                                class="flex-1 flex flex-row items-start justify-between pt-3 pb-3.5 pr-[93px] pl-11 box-border relative max-w-full gap-[20px] z-[1] lg:pl-[22px] lg:pr-[46px] lg:box-border mq450:flex-wrap mq750:pr-[23px] mq750:box-border">
                                <div
                                    class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px]">
                                </div>
                                <div class="flex flex-col items-start justify-start pt-[3px] px-0 pb-0">
                                    <div class="relative font-medium inline-block min-w-[120px] z-[1]">
                                        <ol class="m-0 font-inherit text-inherit pl-4">
                                            <li>Add two numbers</li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="relative font-medium text-orange inline-block min-w-[47px] z-[1]">
                                    Medium
                                </div>
                            </div>
                        </div>
                        <div
                            class="self-stretch flex flex-row items-start justify-start py-0 pr-[3px] pl-px box-border max-w-full">
                            <div
                                class="flex-1 bg-lavender-200 flex flex-row items-start justify-between pt-3 pb-3.5 pr-28 pl-11 box-border max-w-full gap-[20px] z-[3] lg:pl-[22px] lg:pr-14 lg:box-border mq750:pr-7 mq750:box-border">
                                <div class="h-11 w-[1110px] relative bg-lavender-200 hidden max-w-full"></div>
                                <div class="flex flex-col items-start justify-start pt-[3px] px-0 pb-0">
                                    <div class="relative font-medium z-[1]">
                                        <ol class="m-0 font-inherit text-inherit pl-4">
                                            <li>Longest substring without repeating character</li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="relative font-medium text-firebrick inline-block min-w-[28px] z-[1]">
                                    Hard
                                </div>
                            </div>
                        </div>
                        <div
                            class="self-stretch flex flex-row items-start justify-start py-0 px-0.5 box-border max-w-full">
                            <div
                                class="flex-1 flex flex-row items-start justify-between pt-3 pb-3.5 pr-[93px] pl-11 box-border relative max-w-full gap-[20px] z-[2] lg:pl-[22px] lg:pr-[46px] lg:box-border mq750:flex-wrap mq750:pr-[23px] mq750:box-border">
                                <div
                                    class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px]">
                                </div>
                                <div class="flex flex-col items-start justify-start pt-[3px] px-0 pb-0">
                                    <div class="relative font-medium z-[1]">
                                        <ol class="m-0 font-inherit text-inherit pl-4">
                                            <li>Median of two Sorted Arrays</li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="relative font-medium text-orange inline-block min-w-[47px] z-[1]">
                                    Medium
                                </div>
                            </div>
                        </div>
                        <div
                            class="self-stretch flex flex-row items-start justify-start py-0 px-0.5 box-border max-w-full">
                            <div
                                class="flex-1 bg-lavender-200 flex flex-row items-start justify-between pt-3 pb-3.5 pr-28 pl-11 box-border max-w-full gap-[20px] z-[1] lg:pl-[22px] lg:pr-14 lg:box-border mq750:pr-7 mq750:box-border">
                                <div class="h-11 w-[1110px] relative bg-lavender-200 hidden max-w-full"></div>
                                <div class="flex flex-col items-start justify-start pt-[3px] px-0 pb-0">
                                    <div class="relative font-medium inline-block min-w-[78px] z-[1]">
                                        <ol class="m-0 font-inherit text-inherit pl-4">
                                            <li>Two Some</li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="relative font-medium text-green-100 inline-block min-w-[28px] z-[1]">
                                    Easy
                                </div>
                            </div>
                        </div>
                        <div
                            class="self-stretch flex flex-row items-start justify-start py-0 px-0.5 box-border max-w-full">
                            <div
                                class="flex-1 flex flex-row items-start justify-between pt-3 pb-3.5 pr-[93px] pl-11 box-border relative max-w-full gap-[20px] z-[1] lg:pl-[22px] lg:pr-[46px] lg:box-border mq450:flex-wrap mq750:pr-[23px] mq750:box-border">
                                <div
                                    class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px]">
                                </div>
                                <div class="flex flex-col items-start justify-start pt-[3px] px-0 pb-0">
                                    <div class="relative font-medium inline-block min-w-[120px] z-[1]">
                                        <ol class="m-0 font-inherit text-inherit pl-4">
                                            <li>Add two numbers</li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="relative font-medium text-orange inline-block min-w-[47px] z-[1]">
                                    Medium
                                </div>
                            </div>
                        </div>
                       
                       
                    </div>

                </div>

            </div>
    
        </main>
    </div>
</div>