.text-green {
    color: green !important;
}

.text-yellow {
    color: yellow !important;
}

.text-red {
    color: red !important;
}

.output-text {
    letter-spacing: 1px;
    margin-top: 10px;
    display: inline-block;
}

.custom-bg-color {
    background-color: rgb(30, 30, 30);
}

.background-width {
    width: 750px;

}

.text-green-600 {
    color: #16a34a;
    /* Example green color */
}

.text-red-600 {
    color: #dc2626;
    /* Example red color */
}

