.bg-easy-color{
    background-color: #88a88b;
}
.bg-darkkhaki{
    background-color:#B4BB61 ;
}
.bg-olive{
    background-color: #9D881E;
}
.bg-maroon{
    background-color: #B31B1B;
}
.bg-firebrick{
    background-color: #840303;
}