<header class="bg-nav">
    <div class="flex justify-between items-center h-12 bg-black px-4 md:px-8">
      <div class="flex items-center">
        <img class="h-8 w-auto pl-64" src="/assets/Algo-exus-logo.png" alt="Algo Nexus Logo">
      </div>
      <div class="hidden md:flex items-center space-x-4">
        <!-- <img class="h-8 w-8 rounded-full" src="https://avatars0.githubusercontent.com/u/4323180?s=460&v=4" alt="Profile Picture"> -->
        <a  class="text-white p-2 pr-36">Sadiq Hussain</a>
        <div>
          <button *ngIf="!loggedIn()" (click)="login()" class="text-white p-2">Login</button>
          <button *ngIf="loggedIn()" (click)="logOut()" class="text-white p-2">Logout</button>
        </div>
      </div>
    </div>
  
    <!-- <div id="mobile-menu" class="md:hidden bg-black text-white hidden">
      <ul class="space-y-2 p-4">
        <li><a  class="block">My account</a></li>
        <li><a  class="block">Notifications</a></li>
        <li><a  class="block">Logout</a></li>
      </ul>
    </div> -->
  </header>